/*recursos import*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,300;8..144,400;8..144,500&display=swap');

/*font-family: 'Roboto Serif', serif;*/

:root {
    --color1: #aeafb0eb;
    --color2: #ededed9a;
    --color3: #478DAE;
}

:root {
    --fondo1: #202020;
    --fondo2: #ebebeb;
    --fondo3: #d9d9d9;
    --verde: #2EB000;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background-color: #F8F9F9;
    overflow-y: hidden;
}

.section-2 {
    display: flex;
}

.image-moto {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 50%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image-moto .titulo-moto {
    font-size: 5rem;
}

.image-moto img {
    width: 80%;
}

.contenedor {
    width: 50%;
}

.contenedor .informacion {
    width: 100%;
    height: 80vh;
    overflow-y: scroll;
}

.contenedor .informacion .caja {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    margin: 30px 20px 0 20px;
    padding: 20px;
}
 
.contenedor .informacion .caja h2{
    font-size: 2.3rem;
    font-weight: medium;
    margin-bottom: 10px;
}

.contenedor .informacion .caja p {
    font-size: 1.5rem;
}

.contenedor .boton .registro {
    background-color: var(--verde);
    padding: 6px 30px;
    font-size: 1.7rem;
    border-radius: 20px;
    border: 3px solid var(--fondo1);
    color: var(--fondo1);
    cursor: pointer;
    transition: all .8s;

    margin-left: 30%;
    margin-top: 1%;
}

.contenedor .boton .registro:hover {
    background-color: var(--fondo1);
    border: 3px solid var(--verde);
    color: var(--verde);
}